<section class="edit-company">
  <header>
    <div class="back" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </div>

    <h1>Dados da empresa</h1>
  </header>
  <main>
    <section class="inputs">
      <section class="user-inputs">
        <h2>Seus dados</h2>
        @for( userFieldConfig of userFieldConfigs; track userFieldConfig){
        <ng-container [ngSwitch]="userFieldConfig.type">
          <vox-text-field
            *ngSwitchCase="'text'"
            [config]="userFieldConfig"
            [form]="userDateForm"
            [value]="userDateForm.get(userFieldConfig.name)?.value"
          ></vox-text-field>
          <vox-date-field
            *ngSwitchCase="'date'"
            [config]="userFieldConfig"
            [form]="userDateForm"
            [value]="userDateForm.get(userFieldConfig.name)?.value"
          ></vox-date-field>
        </ng-container>
        }
      </section>
      <section class="company-inputs">
        <h2>Dados da sua empresa</h2>
        @for( companyFieldConfig of companyFieldConfigs; track
        companyFieldConfig){
        <ng-container [ngSwitch]="companyFieldConfig.type">
          <vox-text-field
            *ngSwitchCase="'text'"
            [config]="companyFieldConfig"
            [form]="companyDateForm"
            [value]="companyDateForm.get(companyFieldConfig.name)?.value"
          ></vox-text-field>
          <vox-date-field
            *ngSwitchCase="'date'"
            [config]="companyFieldConfig"
            [form]="companyDateForm"
            [value]="companyDateForm.get(companyFieldConfig.name)?.value"
          ></vox-date-field>
          <vox-radio-field
            *ngSwitchCase="'radio'"
            [config]="companyFieldConfig"
            [form]="companyDateForm"
            [value]="companyDateForm.get(companyFieldConfig.name)?.value"
          ></vox-radio-field>
        </ng-container>

        }
        <ng-container *ngIf="companyDateForm.contains('cnpj')">
          <vox-text-field
            [config]="{ type: 'text', name: 'cnpj', label: 'CNPJ da matriz' }"
            [form]="companyDateForm"
            [value]="companyDateForm.get('cnpj')?.value"
          ></vox-text-field>
        </ng-container>
        <ng-container *ngIf="companyDateForm.contains('uf')">
          <vox-text-field
            [config]="{ type: 'text', name: 'uf', label: 'UF da matriz' }"
            [form]="companyDateForm"
            [value]="companyDateForm.get('uf')?.value"
          ></vox-text-field>
        </ng-container>
      </section>
    </section>

    <section class="buttons">
      <vox-button
        color="secondary"
        text="Cancelar"
        size="medium"
        (click)="goBack()"
      ></vox-button>
      <vox-button
        color="primary"
        text="Salvar dados"
        size="medium"
        [disabled]="
          !userDateForm.valid ||
          !companyDateForm.valid ||
          (userDateForm.pristine && companyDateForm.pristine)
        "
        (onClickEvent)="editOrganization()"
      ></vox-button>
    </section>
  </main>
</section>
