.edit-company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px;
  height: 100%;
  header {
    width: 100%;
    display: flex;
    gap: 1rem;
    height: 100%;
    align-items: center;
    h1 {
      font-size: 72px;
      margin: 0;
    }

    .back {
      border: 1px solid #d5d5d5;
      border-radius: 74px;
      align-items: center;
      display: flex;
      width: 35px;
      justify-content: center;
      height: 35px;
      cursor: pointer;
      mat-icon {
        height: unset !important;
        width: unset !important;
        font-size: 18px;
      }
    }
  }
  main {
    display: flex;
    justify-content: space-between;
    width: 985px;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    background-color: white;
    .inputs {
      display: flex;
      gap: 1rem;
      .user-inputs {
        width: 50%;
        padding: 1rem;
      }

      .company-inputs {
        width: 50%;
        width: 50%;
        height: 500px;
        overflow-y: auto;
        padding: 1rem;
      }
    }

    .buttons {
      display: flex;
      justify-content: flex-end;
      padding: 5px 1rem;
    }
  }
}
